<!DOCTYPE html>
<title>Your ToDo list</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

<!-- Head -->
<header>
</header>

<!-- Body -->
<body>
    <h2>ToDo list</h2>
    <div class="box">
        <table>
            <tr>
                <th>Status</th>
                <th>Description</th>
            </tr>
            {% for item in todo %}
            <tr>
                {% if item[0] == True %}
                    <td>[x]</td>
                {% else %}
                    <td>[ ]</td>
                {% endif %}
                <td>{{ item[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="box">
        <form method="POST", action=" {{ url_for('main.add')}} ">
            <h3>Add item</h3>
            <label for="description">ToDo:</label>
            <input type="text" name="description"><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>