<!DOCTYPE html>
<title>Your ToDo list</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

<!-- Head -->
<header>
</header>

<!-- Body -->
<body>
    <h2>ToDo list</h2>
    <div class="box">
        <table id="ToDo_Table">
            <tr>
                <th>Status</th>
                <th>Description</th>
                <th>Change</th>
            </tr>
            {% for item in todo %}
            <tr>
                {% if item[1] == True %}
                    <td>[x]</td>
                {% else %}
                    <td>[ ]</td>
                {% endif %}
                <td>{{ item[2] }}</td>
                {# <td><input type="hidden" name="posted_description" value="{{ item[1] }}">{{ item[1] }}</td> #}
                <td>
                    <form method="POST" action="{{ url_for('main.switch_status')}}">
                        <button type="submit" value="{{ item[0] }}" name="selected_task">
                        {% if item[1] == True %}
                            Undo :(
                        {% else %}
                            Do :)
                        {% endif %}
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="box">
        <form method="POST", action=" {{ url_for('main.add')}} ">
            <h3>Add item</h3>
            <label for="description">ToDo:</label>
            <input type="text" name="description"><br>
            <button type="submit", value="OK">Submit</button>
        </form>
    </div>
</body>